{% extends 'blocks/page' %}

{% block content %}
	<div class="login-form">

        <h2>{{ trans('app.participants registration') }}</h2>

    	<form method="POST" action="{{ route('login') }}">
    		{{ csrf_field() }}

            {% if errors|length > 0 %}
                <div class="errors">
                    <ul>
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

    		<input name="password" autofocus type="password" placeholder="{{ trans('app.please enter password') }}" />
    		<button type="submit" class="button" type="submit" />{{ trans('app.login') }}</button>
    	</form>
    </div>

{% endblock %}